<a href="<%= landings_y_path %>">pagina y</a>
<%= link_to("Link y", landings_y_path,) %>

<h1>Landings#z</h1>
<p>Find me in app/views/landings/z.html.erb</p>

<ul>
	<% @val.each do |thing| %>
	<li><%=thing %></li>
	<% end %>
</ul>

